



*.json filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
secrets filter=git-crypt diff=git-crypt merge=git-crypt -text
.pdf filter=git-crypt diff=git-crypt merge=git-crypt -text
